RPC_URL=http://127.0.0.1:8545
CONTRACT_ADDRESS=0xa513E6E4b8f2a923D98304ec87F64353C4D5C853
JWT_SECRET=change-me-to-a-long-random-string
POSTGRES_USER=crowdfunding
POSTGRES_PASSWORD=crowdfunding
POSTGRES_DB=crowdfunding
POSTGRES_PORT=5432
